:root {
  --bi-coastal-default: #214D53;
  --bi-coastal-400: rgba(33, 77, 83, 0.9);
  --bi-coastal-300: rgba(33, 77, 83, 0.75);
  --bi-coastal-200: rgba(33, 77, 83, 0.5);
  --bi-coastal-100: rgba(33, 77, 83, 0.25);

  --mustard-default: #E2C21D;
  --mustard-400: rgba(226, 194, 29, 0.9);
  --mustard-300: rgba(226, 194, 29, 0.75);
  --mustard-200: rgba(226, 194, 29, 0.5);
  --mustard-100: rgba(226, 194, 29, 0.25);

  --wise-sage-default: #90A565;
  --wise-sage-400: rgba(144, 165, 101, 0.9);
  --wise-sage-300: rgba(144, 165, 101, 0.75);
  --wise-sage-200: rgba(144, 165, 101, 0.5);
  --wise-sage-100: rgba(144, 165, 101, 0.25);

  --big-blue-default: #344588;
  --big-blue-400: rgba(52, 69, 136, 0.9);
  --big-blue-300: rgba(52, 69, 136, 0.75);
  --big-blue-200: rgba(52, 69, 136, 0.5);
  --big-blue-100: rgba(52, 69, 136, 0.25);

  --oh-baby-default: #9FBAE8;
  --oh-baby-400: rgba(159, 186, 232, 0.9);
  --oh-baby-300: rgba(159, 186, 232, 0.75);
  --oh-baby-200: rgba(159, 186, 232, 0.5);
  --oh-baby-100: rgba(159, 186, 232, 0.25);

  --arizona-sunset-default: #F59E52;
  --arizona-sunset-400: rgba(245, 158, 82, 0.9);
  --arizona-sunset-300: rgba(245, 158, 82, 0.75);
  --arizona-sunset-200: rgba(245, 158, 82, 0.5);
  --arizona-sunset-100: rgba(245, 158, 82, 0.25);

  --skona-default: #D0B2D1;
  --skona-400: rgba(208, 178, 209, 0.9);
  --skona-300: rgba(208, 178, 209, 0.75);
  --skona-200: rgba(208, 178, 209, 0.5);
  --skona-100: rgba(208, 178, 209, 0.25);

  --almost-default: #343434;
  --almost-400: rgba(52, 52, 52, 0.9);
  --almost-300: rgba(52, 52, 52, 0.75);
  --almost-200: rgba(52, 52, 52, 0.5);
  --almost-100: rgba(52, 52, 52, 0.25);

  --karl-default: #EAEAE0;
  --karl-400: rgba(234, 234, 224, 0.9);
  --karl-300: rgba(234, 234, 224, 0.75);
  --karl-200: rgba(234, 234, 224, 0.5);
  --karl-100: rgba(234, 234, 224, 0.25);

  --swiper-pagination-color: #FFFFFF;
}